.container {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

mat-table {
    width: 100%;
    margin-top: 20px;
}

mat-header-cell, mat-cell {
    padding: 0 10px;
}

.actions {
    display: flex;
    gap: 8px;
} 